doctype 5
html(lang="en")
	head
		include meta.html
		include css/pure-0.2.1.min.css
		include css/default.less
		- var dbTitle = dbName + " | colossal";
		title= dbTitle
		style.
			html, body, .pure-menu {
				height: 100%
			}
			.pure-menu.pure-menu-open {
				background-color: #131517;
				/*#33b5e5*/
				border: 1px solid #444;
			}
			.pure-menu .pure-menu-heading {
				border-bottom-color: #444;
			}
			#sidebar {
				margin-top: 1%;
				margin-left: 1%;
			}
			#main {
				width: 82.33%;
			}
	body
		pure-g-r.content
			#sidebar.pure-u-1-6
				.pure-menu.pure-menu-open
					a.pure-menu-heading Yahoo! Sites
					ul
						li
							a(href="/admin") Main
						li
							a(href="/settings") Settings
						li
							a(href="/connect") Connect...
					a.pure-menu-heading Collections
					ul
						each collection in dbCollections
							li
								a(href="#")= collection

			#main.pure-u-5-6
				h1 Hello